<div class="container my-3 py-3">
    <h2 class="my-3">Logueate!</h2>
    <form action="../routes/index.routes.js" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p class="my-3">¿No estas registrado? <a href="../routes/index.routes.js">Registrate ahora!</a></p>
    </form>
</div>